{% extends 'core/base.html' %}

{% block contenido %}
    <div class="about-container">
        <h1>Acerca de mí</h1>
        <p>Hola! Mi nombre es Juana Larrumbide, tengo 19 años y vivo en Quilmes, provincia de Buenos Aires.
           Actualmente estoy por empezar mi primer año de universidad, y se que mi carrera va a conllevar mucha
           programacion por lo que estoy realizando un curso de Python en la plataforma Coderhouse.
            Este Blog es mi entrega final del curso, basicamente se basa en una pagina creada con Django en la que podes
           crear tus propios blogs darles un titulo, un subtitulo, un cuerpo y un autor, y luego podras visualizar todos 
           los blogs creados en otro route/.
           Gracias por su tiempo, espero sea de utilidad. 
        </p>
    </div>
{% endblock contenido %}
