:root {
    --color-titulo: #10002b;
    --color-botones: #c051ff;
    --color-botonesadicional: #c000ff;
    --color-letrasbotones: #fcd6f7;
    --color-degradado1: #e8c2ff;
    --color-degradado2: #c77dff;
    --color-fondopagina: #f1d6ff;
    --color-recuadro: #d4acfb;
}

body {
    background-color: var(--color-fondopagina); /* Color de fondo deseado */
}

/* Estilos para el título */
.titulo {
    font-size: 3rem; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
    color: var(--color-titulo); /* Color de texto personalizado */
    margin-bottom: 30px; /* Espacio inferior entre el título y los botones */
    text-align: center; /* Centra el texto */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de texto */
    letter-spacing: 2px; /* Espacio entre caracteres */
    /* Fondo degradado */
    background-image: linear-gradient(to right, var(--color-degradado1), var(--color-degradado2));
    
}

/* Estilos para el contenedor de los botones verticales */
.botones-verticales {
    margin-top: 20px; /* Espacio superior entre los botones verticales */
    text-align: center; /* Centra los botones verticalmente */
}
/* Estilos para el contenedor de los botones horizontales */
.botones {
    float: left; /* Coloca los botones en el lado derecho */
    margin-top: 20px; /* Espacio superior entre los botones horizontales */
}


/* Estilos para los botones */
button {
    display: block; /* Hace que los botones se muestren como bloques */
    margin-bottom: 30px; /* Espacio vertical entre los botones */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-botones); /* Color de fondo verde */
    color: var(--color-letrasbotones); /* Color de texto blanco */
    font-size: 30px;
    cursor: pointer;
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    width: 300px; /* Ancho fijo para los botones */
    text-align: center; /* Centra el texto dentro de los botones */
}


/* Estilos para los enlaces dentro de los botones */
button a {
    color: var(--color-letrasbotones); /* Color de texto blanco */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    font-size: 20px; /* Tamaño de fuente del enlace */
}

/* Estilos adicionales para resaltar el botón cuando se pasa el mouse sobre él */
button:hover {
    background-color: var(--color-botonesadicional); /* Color de fondo verde más oscuro */
}


/* Estilos específicos para la página about.html */
.about-container {
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px;
    background-color: var(--color-recuadro); /* Color de fondo gris claro */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.about-container h1 {
    font-size: 36px;
    color: var(--color-titulo); /* Color de texto gris oscuro */
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    color: var(--color-titulo); /* Color de texto gris medio */
    line-height: 1.5; /* Espaciado entre líneas */
}


/* Estilos para el botón de enviar */
.boton-enviar {
    padding: 5px 10px; /* Ajusta el tamaño del botón */
    font-size: 14px; /* Ajusta el tamaño del texto del botón */
}

.campo-formulario {
    margin-bottom: 20px; /* Ajusta el espacio vertical entre los campos */
}